header,
.logoImg,
nav,
ul {
  width: 100%;
}
header {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 0.5rem;
}
header > a {
  padding: 0;
  border: none;
}
.logoImg {
  object-fit: contain;
}
nav {
  background-color: var(--FPmain);
  padding: 0.5rem 0;
}
nav ul {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 50% 50%;
  padding: 0 1rem;
}
@media only screen and (min-width: 800px) {
  nav ul {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
nav ul a {
  width: 100%;
  margin: 0.5rem auto;
  background-color: white;
}
nav ul a:hover {
  background-color: var(--FPmain);
  box-shadow: 0.15rem 0.15rem var(--FPblack);
}
