.homeContent h2 {
  text-align: center;
}
.homeContent p {
  text-align: justify;
}
.homeContent > .homeDetailsContainer > article > p {
  text-align: left;
}
.homeDetailsContainer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0.5rem;
}
.homeDetailsContainer article {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.homeCovidContainer > article {
  max-width: 100%;
}
.homeCovidContainer > img {
  max-width: 450px;
  margin: 0.25rem auto;
}
.homeCovidContainer ul {
  width: 100%;
  max-width: 800px;
  list-style-type: circle;
  margin: 0 1.5rem;
}
.homeDetailsContainer .pricing {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  max-width: 100%;
}

.homeContent .pricing > * {
  border: 0.1rem solid var(--FPblack);
  text-align: center;
  height: 3rem;
  padding-top: 0.5rem;
}
.homeContent > .homeDetailsContainer > .pricing > .pricingCenter {
  text-align: center;
}
.programContent {
  margin-top: 1rem;
}
.programContent a,
.programContent a:visited {
  border: none;
  padding: 0;
  max-width: none;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: var(--FPmainAlt);
}
.programContent a:hover {
  color: var(--FPblack);
}
.homeContent .pricing > .pricingLeft,
.homeContent .pricing > .pricingCenter,
.homeContent .pricing > .pricingRight {
  background-color: var(--FPmain);
}
.homeContent .pricing > .pricingLeft {
  border-right: none;
}
.homeContent .pricing > .pricingCenter {
  border-right: none;
  border-left: none;
}
.homeContent .pricing > .pricingRight {
  border-left: none;
}
.buddysContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.singleBuddy {
  width: 45%;
  min-width: 200px;
  margin: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.singleBuddy > p,
.singleBuddy > a {
  text-align: center;
  width: 100%;
}
.buddyName {
  font-size: 1.125rem;
}
