.addContent,
.addContent form,
.addContent form label {
  width: 100%;
}

.addContent,
.addContent form {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 100%;
}
.addContent form label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}
.addContent form label input,
.addContent form label textarea {
  width: 80%;
  max-width: 250px;
  margin: 0.5rem auto 0 auto;
  font-family: "Lobster", cursive;
}
.addContent form label textarea {
  height: 16rem;
}
.addContent form button {
  margin: 0.5rem auto;
  width: 50%;
  max-width: 150px;
  font-family: "Lobster", cursive;
}
