body {
  width: 100vw;
  background-color: var(--FPmain);
}
.App,
.App > div,
.pageContainer,
.homeContent,
.summariesContent {
  width: 100%;
}
.App {
  background-color: var(--FPmain);
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.pageContainer {
  margin: 0 auto;
  background-color: white;
  display: grid;
  gap: 0;
  grid-template-columns: 100%;
  padding: 1rem;
}
.homeContent,
.summariesContent {
  display: grid;
  gap: 0;
  grid-template-columns: 100%;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.25rem;
}
a,
button {
  padding: 0.5rem;
  max-width: 150px;
  text-align: center;
  border: 0.1rem solid var(--FPblack);
  color: var(--FPblack);
  font-family: "Lobster", cursive;
}
a:visited {
  color: var(--FPblack);
}
