body {
  width: 100vw;
  background-color: var(--FPmain);
}
.App {
  background-color: var(--FPmain);
}
.pageContainer {
  margin: 0 auto;
  background-color: white;
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 100%;
  padding: 0 1rem;
}
h2 {
  font-size: 1.75rem;
}
a,
button {
  padding: 0.5rem;
  max-width: 150px;
  text-align: center;
  border: 0.1rem solid var(--FPblack);
  color: var(--FPblack);
  font-family: "Lobster", cursive;
}
a:visited {
  color: var(--FPblack);
}
